.border-primary-900 {
    --tw-border-opacity: 1;
    border-color: rgba(var(--color-primary-900), var(--tw-border-opacity));
}

.bg-primary-900 {
    --tw-bg-opacity: 0.5;
    background-color: rgba(var(--color-primary-900), var(--tw-bg-opacity));
}

@media (min-width: 1024px) {
.lg\:center-large {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
    content: "";
  }
  
  .prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
    content: "";
  }

.max-w-good {
  max-width: 100rem;
}