/* Fire scheme */
:root {
    --color-neutral: 255, 255, 255;
    /* Stone */
    --color-neutral-50: 211, 214, 214;	
    --color-neutral-100: 200, 204, 204;	
    --color-neutral-200: 209, 208, 205;	
    --color-neutral-300: 186, 185, 183;	
    --color-neutral-400: 172, 170, 178;	
    --color-neutral-500: 107, 105, 103;	
    --color-neutral-600: 81, 80, 78;	
    --color-neutral-700: 26, 25, 24;	
    --color-neutral-800: 21, 20, 19;	
    --color-neutral-900: 15, 15, 14;	
    --color-neutral-950: 10, 10, 9;
    /* Orange */
    --color-primary-50: 255, 254, 244;	
    --color-primary-100: 255, 250, 191;	
    --color-primary-200: 255, 246, 138;	
    --color-primary-300: 255, 241, 85;	
    --color-primary-400: 242, 226, 41;	
    --color-primary-500: 212, 198, 36;	
    --color-primary-600: 181, 169, 31;	
    --color-primary-700: 150, 140, 25;	
    --color-primary-800: 120, 112, 20;	
    --color-primary-900: 89, 83, 15;	
    --color-primary-950: 59, 55, 10;
    /* Rose */
    --color-secondary-50: 255, 248, 242;	
    --color-secondary-100: 254, 210, 179;	
    --color-secondary-200: 202, 52, 51;
    --color-secondary-300: 253, 136, 53;	
    --color-secondary-400: 239, 101, 3;	
    --color-secondary-500: 242, 143, 28;
    --color-secondary-600: 255, 79, 0;
    --color-secondary-700: 149, 63, 2;	
    --color-secondary-800: 118, 50, 1;	
    --color-secondary-900: 88, 37, 1;
    --color-secondary-950: 58, 24, 1;
  }
  